<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sachin.risk.common.data.dao.RcCardAreaMapper">

    <resultMap id="rcCardArea" type="com.sachin.risk.common.data.model.CardArea">
        <result property="id" column="id"/>
        <result property="cardAreaCode" column="card_area_code"/>
        <result property="beginIndex" column="begin_index"/>
        <result property="endIndex" column="end_index"/>
        <result property="cardType" column="card_type" javaType="com.sachin.risk.common.core.enums.CardType" typeHandler="com.sachin.risk.common.core.mybatis.CardTypeHandler"/>
        <result property="bankCode" column="bank_code"/>
        <result property="bankName" column="bank_name"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
    </resultMap>

    <sql id="selectSql">
	    select
	        id,
	    	card_area_code,
	    	begin_index,
	    	end_index,
	    	card_type,
	    	bank_code,
	    	bank_name,
	    	province,
	    	city
	    from
	        rc_card_area
	</sql>

    <!-- 分页查询 -->
    <select id="queryByLimit" resultMap="rcCardArea">
        <include refid="selectSql"/>
        WHERE id > #{id}
        ORDER BY id
        limit #{pageSize}
    </select>

    <select id="queryGteUpdateTime" resultMap="rcCardArea">
        <include refid="selectSql"/>
        WHERE update_time >= #{updateTime}
    </select>

    <select id="queryMaxUpdateTime" resultType="Date">
        SELECT max(update_time) from rc_card_area
    </select>

</mapper>
